.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
    left: 110px;
    top: 50px;
    bottom: 20px;
}

.container2 {
    display: flex;
    height: 50px;
    position: relative;
    left: 550px;
    top: 40px;
}

.container2 button {
    font-size: 24px;
    background-color: #008CBA;
    color: white;
}

.container3 {
    display: flex;
    height: 50px;
    position: relative;
    left: 622px;
    top: 40px;
}

.container3 button {
    font-size: 24px;
    background-color: #008CBA;
    color: white;
}


.box {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.box-top-left {
    position: relative;
    top: 50px;
    left: 100px;
    height: 500px;
    width: 500px;
    background-color: #ce6868;
}

.box-top-right {
    position: relative;
    top: 50px;
    left: 100px;
    height: 500px;
    width: 500px;
    background-color: #58c3ac;
}

.box-bottom-left {
    position: relative;
    top: 50px;
    left: 100px;
    height: 500px;
    width: 500px;
    background-color: #bc8ec0;
}

.box-bottom-right {
    position: relative;
    top: 50px;
    left: 100px;
    height: 500px;
    width: 500px;
    background-color: #9bd0a2;
}


.label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bar.positive-strength-sum {
    background-color: red;
  }
  .bar.positive-opportunity-sum {
    background-color: red;
  }
  .bar.negative-weakness-sum {
    background-color: rgb(2, 2, 3);
  }
  .bar.negative-threat-sum {
    background-color: rgb(2, 2, 3);
  }